body{
	background-color:#000000;
	color:#FFFFFF;
	font-family:helvetica;
	font-size:24pt;
}

#title{
	font-size:36pt;
	text-align:center;
}

#episode-name{
	text-align:center;
}

#title-div{
	position:absolute;
	top:100px;
	left:150px;
	width:400px;
}

.clojure-dark-green{
	color:#63b132;
}

.clojure-dark-blue{
	color:#5881d8;
}

.clojure-light-green{
	color:#91dc47;
}

.clojure-light-blue{
	color:#90b4fe;
}