#cover{
	background-color:#000000;
	color:#FFFFFF;
	font-family:helvetica;
	font-size:24pt;
}

#slide{
	font-family:helvetica;
	font-size:24pt;
}

#title{
	font-size:36pt;
	text-align:center;
}

#episode-name{
	text-align:center;
}

#contact-info{
	text-align:center;
	font-size:14pt;
}

#cc-license{
	text-align:center;
}

#title-div{
	position:absolute;
	top:100px;
	left:100px;
	width:500px;
}

#slide-div{
	position:absolute;
	top:25px;
	left:100px;
	width:500px;
	text-align:center;
}

.clojure-dark-green{
	color:#63b132;
}

.clojure-dark-blue{
	color:#5881d8;
}

.clojure-light-green{
	color:#91dc47;
}

.clojure-light-blue{
	color:#90b4fe;
}

.white-60{
	color:#999999;
}

.white-70{
	color:#A8A8A8;
}

.white-80{
	color:#CCCCCC;
}
.two-cols{
	width:150px;
	padding:5px;
}

.three-cols{
	width:100px;
	padding:5px;
}

.code{
	font-family:courier;
	text-align:left;
}